$background-text:#859191;
$background-item:rgba(133,145,145, 0.8);
$background-icon:#e3e4e4;
$border-form-color:rgba(149, 152, 154, 0.8);
$border-form-btn-color:#df0d2f;
$form-input-text-color:#859191;
$form-button-text-color:#4e4e4e;
$white-color:#ffffff;
$background-third-header:#859191;

.wrapper{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.container2{
  margin: 50px 0;
  &__row{
    &__itemSmall{
      height: 440px;
      width: 440px;
      padding: 0;
      margin: 0;
    }
    &__itemBig{
      height: 440px;
      width: 923px;
      //background-color: red;
      padding: 0;
      &__types{
        position: relative;
        height: 100%;
        width: 100%;
        padding-top: 138px;
        padding-left: 39px;
        background-color: $background-item;
        transition: background-color 1s;
        &:hover{
          background-color: transparent;
        }
        h1 {
          width: 174px;
          height: 39px;
          color: #ffffff;
          font-family: "Segoe UI";
          font-size: 30px;
          font-weight: 400;
        }
        p{
          width: 304px;
          height: 30px;
          color: #ffffff;
          font-family: "Segoe UI";
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          margin: 30px 0;
        }
      }
    }
  }
}
.company{
  margin-right: 37px;
  margin-bottom: 40px;
  background-image: url("../img/main-img/compamy.jpg");
  background-size: cover;
}
.ergonomics{
  margin-right: 37px;
  margin-bottom: 40px;
  background-image: url("../img/main-img/services.jpg");
  background-size: cover;
}
.types{
  background-image: url("../img/main-img/produkte.jpg");
  background-size: cover;
  background-color: $background-item;
}
.know-more{
  display: flex;
  flex-direction: row;
  a{
    display: flex;
    p{
      height: 30px;
      color: #ffffff;
      font-family: "Segoe UI";
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      width: 195px;
      cursor: pointer;
      margin: 0;
    }
    img {
      background-color: $background-icon;
      //opacity: 0.72;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin:0;
      cursor: pointer;
    }
  }
}
.itemBottom{
  position: relative;
  top: 360px;
  width: 100%;
  height:80px;
  //width: 440px;
  //height:80px;
  background-color: $background-text;
  opacity: 0.8;
  a{
    display: flex;
    align-items: center;
    h1{
      height: 39px;
      color: #ffffff;
      font-family: "Segoe UI";
      font-size: 30px;
      font-weight: 400;
      margin:0 30px;
      cursor: pointer;
    }
    img{
      background-color: $background-icon;
      //opacity: 0.72;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}
.itemBottomBG{
  top: -80px;
}
.formFree {
  display: block;
  border: 1px solid $border-form-color;
  opacity: 0.8;
  width: 440px;
  height: 440px;
  h2{
    margin: 58px 15px 52px 19px;
  }
  input {
    max-width: 390px;
    width: 100%;
    height: 45px;
    margin: 0 25px 15px;
    padding: 10px 12px;
    border: 1px solid $border-form-color;
    color: $form-input-text-color;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  button{
    max-width: 416px;
    width: 100%;
    height: 60px;
    border: 4px solid $border-form-btn-color;
    margin: 60px 12px 66px;
    background-color: transparent;
    color: $red;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }
}


//третья страница Header

.third-page{
  &__header{
    //max-width: 100vw;
    width: 100%;
    min-height: 420px;
    height: 100%;
    background-color: $background-third-header;
    display: flex;
    flex-direction: column;
    align-items: center;
    //display: block;
    //margin: 0 auto;
    padding-top: 50px;
    &__title{
      color: $white-color;
      font-family: "Segoe UI";
      font-size: 80px;
      font-weight: 600;
      //text-align: center;
      &::before{
        content: "";
        width: 180px;
        height: 8px;
        background-color: $white-color;
        display: block;
        margin: 0 auto;
      }
    }
    &__text{
      display: block;
      max-width: 988px;
      width: 100%;
      min-height: 83px;
      height: 100%;
      color: $white-color;
      font-family: "Segoe UI";
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      margin: 15px 0 45px;
    }
    &__link{
      display: flex;
      justify-content: center;
    }
  }
}

//третья страница blocks

.third-blocks{
  margin-top: 54px;
  &__row{
    &__item{
      display: flex;
      background-color: $background-third-header;
      margin: 0 10px;
      &__img{

      }
      &__info{
        padding: 0 25px;
        color: $white-color;
        font-family: "Segoe UI";
        &__title{
          width: 100%;
          font-size: 27px;
          font-weight: 400;
          margin: 25px 0;
        }
        &__text{
          padding-right: 20px;
          opacity: 0.8;
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          margin-bottom: 25px;
        }
      }
    }
  }
}