$background-text:#859191;
$background-item:rgba(133,145,145, 0.8);
$background-icon:#e3e4e4;

.wrapper{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.container2{
  margin: 50px 0;
  &__row{
    &__itemSmall{
      height: 440px;
      width: 440px;

      padding: 0;
      margin: 0;
    }
    &__itemBig{
      height: 440px;
      width: 923px;
      //background-color: red;
      padding: 0;
      background-color: $background-item;
      &__types{
        position: relative;
        height: 0;
        top: 138px;
        left: 39px;

        h1 {
          width: 174px;
          height: 39px;
          color: #ffffff;
          font-family: "Segoe UI";
          font-size: 30px;
          font-weight: 400;
        }
        p{
          width: 304px;
          height: 30px;
          color: #ffffff;
          font-family: "Segoe UI";
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          margin: 30px 0;
        }
        &__about{
          display: flex;
          flex-direction: row;
          img {
            background-color: $background-icon;
            //opacity: 0.72;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-top: 30px;
          }
          p{
            height: 30px;
            color: #ffffff;
            font-family: "Segoe UI";
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            text-transform: uppercase;
            width: 195px;
          }
        }
      }
    }
  }
}
.company{
  margin-right: 37px;
  margin-bottom: 40px;
  //background-image: url("../img/compamy.png");
  //background-size: cover;
}
.ergonomics{
  margin-right: 37px;
}
.itemBottom{
  position: relative;
  top: 360px;
  width: 100%;
  height:80px;
  //width: 440px;
  //height:80px;
  background-color: $background-text;
  opacity: 0.8;
  h1{
    height: 39px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 400;
    margin:0 30px;
  }
  img{
    background-color: $background-icon;
    //opacity: 0.72;
    border-radius: 50%;
    width: 30px;
  }
}