$background-text:#859191;
$background-item:rgba(133,145,145, 0.8);
$background-icon:#e3e4e4;
$border-form-color:rgba(149, 152, 154, 0.8);
$border-form-btn-color:#df0d2f;
$form-input-text-color:#859191;
$form-button-text-color:#4e4e4e;

.wrapper{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.container2{
  margin: 50px 0;
  &__row{
    &__itemSmall{
      height: 440px;
      width: 440px;

      padding: 0;
      margin: 0;
    }
    &__itemBig{
      height: 440px;
      width: 923px;
      //background-color: red;
      padding: 0;
      background-color: $background-item;
      &__types{
        position: relative;
        height: 0;
        top: 138px;
        left: 39px;

        h1 {
          width: 174px;
          height: 39px;
          color: #ffffff;
          font-family: "Segoe UI";
          font-size: 30px;
          font-weight: 400;
        }
        p{
          width: 304px;
          height: 30px;
          color: #ffffff;
          font-family: "Segoe UI";
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          margin: 30px 0;
        }
        &__about{
          display: flex;
          flex-direction: row;
          img {
            background-color: $background-icon;
            //opacity: 0.72;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-top: 30px;
            cursor: pointer;
          }
          p{
            height: 30px;
            color: #ffffff;
            font-family: "Segoe UI";
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            text-transform: uppercase;
            width: 195px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.company{
  margin-right: 37px;
  margin-bottom: 40px;
  //background-image: url("../img/compamy.png");
  //background-size: cover;
}
.ergonomics{
  margin-right: 37px;
}
.itemBottom{
  position: relative;
  top: 360px;
  width: 100%;
  height:80px;
  //width: 440px;
  //height:80px;
  background-color: $background-text;
  opacity: 0.8;
  h1{
    height: 39px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 400;
    margin:0 30px;
    cursor: pointer;
  }
  img{
    background-color: $background-icon;
    //opacity: 0.72;
    border-radius: 50%;
    width: 30px;
    cursor: pointer;
  }
}
.free-project{
  display: block;
  border: 1px solid $border-form-color;
  opacity: 0.8;
  width: 440px;
  height: 440px;
  h2{
    margin: 58px 15px 52px 19px;
  }
  input {
    max-width: 390px;
    width: 100%;
    height: 45px;
    margin: 0 25px 15px;
    padding: 10px 12px;
    border: 1px solid $border-form-color;
    color: $form-input-text-color;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  button{
    max-width: 416px;
    width: 100%;
    height: 60px;
    border: 4px solid $border-form-btn-color;
    margin: 60px 12px 66px;
    background-color: transparent;
    color: $form-button-text-color;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }
}