/*********************************/
/*********** Modules *************/
/*********************************/

//  MENU

.wr-header {
  position: relative;
  z-index: 1000;

  .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-brand {
    display: flex;
    flex-direction: column;
    color: #000000;
    padding: 0;
  }
  .navbar {
    .navbar-nav {
      .nav-item {
        margin: 0 15px;

        &.active, &:hover {
          border-bottom: 4px solid $red;
        }

        &.dropdown > a {
          color: $red;
        }

        .nav-link {
          padding-bottom: 16px;
          color: #000000;
          font-weight: 600;
        }
      }
    }

    &__search {
      padding-bottom: 16px;
      margin-right: 50px;
    }

    &__contacts {
      line-height: 1;
      align-self: baseline;
    }
  }
}



//TOPINTRO

.wr-topintro {
  height: 100vh;
  background-image: url(../img/main-top-01.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  .container {
    position: relative;
    height: 100vh;
  }

  .topintro {
    position: absolute;
    bottom: 120px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    &__header {
      font-size: 30px;
      font-weight: bold;
      background-color: #fff;
      padding: 20px 30px;
      text-align: center;
      width: 768px;
      margin-bottom: 1rem;

    }
    &__text{
      background-color: $red;
      padding: 15px 40px;
      width: 528px;
      text-align: center;
      a {
        color: #fff;
        font-size: 1.25rem;
        font-weight: bold;
      }

    }
    &__next {
      position: absolute;
      bottom: 35px;
      right: 35px;

      .icon-next-big {
        display: block;
        width: 50px;
        height: 50px;
        background-color: $bg-icons;
        border-radius: 25px;
        border: 2px solid $gray;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: 30px;
        background-size: 30px;
        background-image: url(/img/icons/icon-right-big.png);
      }
    }
    &__links {
      position: absolute;
      top: 255px;
      right: 35px;
      
      a {
        display: block;
        width: 50px;
        height: 50px;
        margin-bottom: 23px;
        background-color: $bg-icons;
        border-radius: 25px;
        border: 2px solid $gray;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: 30px;
        background-size: 30px;

        &.icon-pin {
          background-image: url(/img/icons/icon-pin.png);
        }
        &.icon-plan {
          background-image: url(/img/icons/icon-planl-kitchen.png);
        }
      }
    }
  }
}

//  EVENTS

.wr-events {
  text-align: center;

  h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 92px;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.21px;
  }
  p{
    margin: 0 110px 70px;
  }
}



//  CONTACT FORM

.wr-cont-form {
  .cont-form {
    border: 1px solid $gray;
    padding: 65px 72px 50px;

    &__intro {
      margin-bottom: 65px;
      h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
      }
    }

    &__form {
      .form-control {
        margin-bottom: 15px;
      }
      legend {
        font-size: 20px;
        font-weight: 700;
      }
      .form-check {
        margin-right: 100px;
        margin-bottom: 15px;
        display: inline-flex;
        align-items: center;
      }
      fieldset {
        margin-bottom: 0;
      }
      .accept {
        margin-top: 40px;
        .form-check {
          margin-right: 0;
        }
      }
    }
  }
}