$bg-icons: rgba(255,255,255,0.85);
$gray: #95989a;

a {
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

form {
	input,
	select,
	textarea {
		-webkit-appearance: none;
		text-overflow: ellipsis;
		outline: none;

		&:focus,
		&:active {
			text-overflow: ellipsis;
		}
	}

	textarea {
    	resize: vertical;
	}
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
